doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Live Deployment with Docker and nScale

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        a(href="http://nearform.com" style="width: 200px")
          img(src="./images/nearform.svg")
        h1 Live Deployment with Docker and nScale
        h2 by&nbsp;
          a(href="http://twitter.com/matteocollina") Matteo Collina

      section
        h1 Build
        img(src='images/build.png' style="width: 80%")

      section
        h1 Deployment
        img(src='images/deployment.png' style="width: 80%")

      section.full-imgs
        img(src='images/me.png')

      section.full-imgs
        img(src='images/nearform.svg')

      section
        h1 Thanks!
        br
        h3 <a href="http://twitter.com/matteocollina">@matteocollina</a> on Twitter
        br
        h3 <a href="mailto:matteo.collina@nearform.com">matteo.collina@nearform.com</a>
        h3 <a href="http://www.nearform.com">www.nearform.com</a>

    script(src='build/build.js')
